@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  @apply font-sans;
}

.divider {
  height: 4px;
  background-color: #212427;
  margin: 20px 0;
}

a:hover {
  text-decoration: underline;
}

/* Need to manually add these classes for the slider */
.bg-orange {
  background-color: #904216;
}

.bg-black {
  background-color: #212427;
}

.bg-brown {
  background-color: #422916;
}
      .cls-1 {
        fill: #fff;
        stroke-width: 0px;
      }

      video {
        clip-path: url(#overlay);
        -webkit-clip-path: url(#overlay);
        width: 100%;
        z-index: 1;
      }

/* main#article-content .markdown p {
  @apply pb-2;
}

main#article-content .markdown h2 {
  @apply text-2xl py-5 font-bold
}

main#article-content .markdown h1 {
  @apply text-3xl py-5 font-bold
}

main#article-content .markdown ul {
  padding-left: 40px;
  list-style: initial;
}

a {
  color: #6F3CDC;
}


h1, h2, h3, h4, h5 {
  @apply font-serif;
} */
