@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  @apply font-sans;
}

.divider {
  height: 4px;
  background-color: #212427;
  margin: 20px 0;
}

a:hover {
  text-decoration: underline;
}

/* Need to manually add these classes for the slider */
.bg-orange {
  background-color: #904216;
}

.bg-black {
  background-color: #212427;
}

.bg-brown {
  background-color: #422916;
}

#myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.hero {
  z-index: 99;
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
